{% extends 'base.html.twig' %}

{% block title %}Reservez-vous!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href={{asset('css/style.css')}}>
{% endblock %}

{% block body %}
		<div class="d-flex">
				<div class="card-body">
					<div class="bg-text">
						<div class="information">
							<label><strong>Description:</strong>  {{event.description | raw }}</label>
						</div>
						<div class="information">
						<label> <strong> Date et lieu:</strong> {{event.date | date('d-m-y') }}, {{event.lieu}}</label>	
						</div>
						<div class="information">
							<label><strong>Paf: Ar </strong> {{event.paf}}</label>
						</div>
							<div class="information">
							<label> <strong>Nombre de place:</strong> {{event.placenumber}}</label>
						</div>
						<div class="information">
							<label><strong>Infoline:</strong>{{event.infoline}}</label>
						</div>
						<div class="mt-5">
							<a href="{{path('add_to_reservation', {'id':event.id})}}">
								<button>Ajout panier</button>
							</a>
							<a href="{{path('app_reservation')}}">
								<button>voir panier</button>
							</a>
						</div>
					</div>
				</div>
				<div class="card1">
					<img class="card-img" style=" height:900px;" src="{{asset('upload/images/events/' ~ event.image)}}">
				</div>
		</div>
{% endblock %}
