{% extends 'base.html.twig' %}

{% block title %}Reservez-vous!
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/style.css')}}">
	{#<link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.min.css')}}">#}
{% endblock %}

{% block body %}
	<html lang="en">

				<div class="d-flex justify-content-center">
					<div class="row justify-content-center flex-column">
						<div class="card d-flex-column m-2 justify-content-center">
							<img class="card-img w-100" style=" height:900px;" src="{{asset('upload/images/events/' ~ event.image)}}">

							<div class="details">
								<div class="card-body">
									<div class="descr">
										<label>Description:</label>
										{{event.description}}


									</div>

									<div class="dtl">
										<label>Date et lieu:</label>

										{{event.date | date('d-m-y') }}
										{{event.lieu}}


									</div>

									<div class="t.b">
										<label>Paf:</label>
										Ar
										{{event.paf}}


									</div>
									<div class="t.b">
										<label>Nombre de place:</label>
										{{event.placenumber}}


									</div>

									<div class="t.b">
										<label>Infoline:</label>
										{{event.infoline}}


									</div>


								</div>
							</div>
						</div>
						<div class="">
							<div class="confirm">
								<a href="{{path('add_to_reservation', {'id':event.id})}}">
									<button>Ajouter au panier</button>
</a>
<a href="{{path('app_reservation')}}">

									<button>voir au panier</button>
								
							</div>

							<div></div>
						</div>
					</div>
				</div>


			{% endblock %}
