{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/style.css')}}">
{% endblock %}

{% block head %}
	<title>E-reserve</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
{% endblock %}

{% block body %}

	<html lang="en">
		<head></head>
		<body>
			<header class="header">
				<nav class="navbar">

					<div class="nom">
						<div class="logo-reserve">
							<img src="{{ asset('image/e-reserve.jpg')}}">

						</div>
						<span class="title">
							E-reserve</span>
					</div>

					<div class="menu">
						<ul>
							<li>
								<a href="#acceuil" class="AC">Accueil</a>
							</li>
							<li>
								<a href="#" class="RS">reservation</a>
								<i class="fa-solid fa-sort-down">
									<div class="reservation">
										<ul class="reserve">
											<li class="res">
												<a href="#spectacle">spectacle
													<i class="fa-solid fa-music"></i>
												</a>
											</li>
											<li class="res">
												<a href="#transport">transport
													<i class="fa-solid fa-van-shuttle"></i>
												</a>
											</li>
											<li class="res">
												<a href="#cinema">cinema
													<i class="fa-sharp fa-solid fa-film"></i>
												</a>

											</li>
											<li class="res">
												<a href="#">autres...</a>
											</li>
										</ul>
									</div>
								</i>
							</li>
							<li>
								<a href="#" class="CO">contact</a>
							</li>
							<li>
								<a href="#" class="DP">depot</a>
								<i class="fa-solid fa-sort-down">
									<div class="mobile">
										<a href="#">
											<img src="../image/orangemoney.png" class="orange"></a>
										<hr class="ligne">
										<a href="#"><img src="../image/mvola.png" class="mvola"></a>
										<hr class="ligne">
										<a href="#"><img src="../image/airtelmoney.png" class="airtel"></a>
									</div>
								</i>
							</li>
						</ul>
					</div>

					<div class="icons-login">

						<i class="fa-solid fa-arrow-right-to-bracket">
							<div class="login">
								<a href="{{path('app_login')}}">

									<button>se connecter</button><a/>
									<hr>
									<p>
										<strong>Vous n'avez pas du compte?</strong>
									</p>
									<a href="{{path('app_register')}}">

										<button>créer une compte</button>
									</a>
								</div>
							</i>
						</div>
					</nav>
				</header>

				<div class="home">
					<div id="acceuil" class="accueil">
						<section class="section1">
							<h1>Bienvenue sur E-reserve !</h1>
							<p class="p-accueil">"Réservez votre prochaine aventure avec nous et créez des souvenirs inoubliables !"</p>
						</section>
					</div>

					<div id="spectacle" class="spectacle">
						<h2>SPECTACLE</h2>
						<hr>
						<br>
						{% for event in events %}
							{% if event.isActive == true %}
								<div class="container">
									<img src="{{asset('upload/images/events/'~ event.image)}}" class="img1">

									<br/>
									<div class="butt">
										<a href="{{path('app_eventplus', {'id':event.id})}}">
											<button class="but">En savoir plus</button>
										</a>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
					<footer>
						<div class="container2">
							<div class="row">
								<div class="col-md-6">
									<h3>À propos</h3>
									<p>Insérez ici une brève description de votre entreprise ou de votre site web.</p>
									<h3>Contact</h3>
									<ul>
										<li>
											<i class="fa fa-envelope"></i>
											E-reserve@gmail.com</li>
										<li>
											<i class="fa fa-phone"></i>
											034 56 281 95  -  034 21 956 70</li>
									</ul>
								</div>
								<div class="col-md-6">
									<h3>Suivez-nous</h3>
									<ul class="social-media">
										<li>
											<a href="#">
												<i class="fa-brands fa-facebook"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa-brands fa-twitter"></i>
											</a>
										</li>
										<li>
											<a href="#">
												<i class="fa-brands fa-instagram"></i>
											</a>
										</li>
									</ul>
								</div>
								<div class="bottom-footer">
									<p>Tous droits réservés &copy; 2023 | Site réalisé par
										<a href="#">IMTICIA 1 de l'ISPM</a>
									</p>
								</div>
							</div>
						</div>
					</footer>
				</div>
			</body>
		</body>
	</html>

{% endblock %}
