{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href={{asset('css/style.css')}}>
{% endblock %}

{% block head %}
	<title>E-reserve</title>
{% endblock %}

{% block body %}

	<html lang="en">
		
				<div class="home">
					<div id="acceuil" class="accueil">
						<section class="section1">
							<h1>Bienvenue sur E-reserve !</h1>
							<p class="p-accueil">"Réservez votre prochaine aventure avec nous et créez des souvenirs inoubliables !"</p>
						</section>
					</div>

					<div id="recent" class="recent">
						<h2>RECENT</h2>
						<hr>
						<br>
						{% for event in events %}
							{% if event.isActive == true %}
								<div class="container">
									<img src="{{asset('upload/images/events/'~ event.image)}}" class="img1">

									<br/>
									<div class="butt">
										<a href="{{path('app_eventplus', {'id':event.id})}}">
											<button class="but">En savoir plus</button>
										</a>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>

						<div id="spectacle" class="spectacle">
							<h2>SPECTACLE</h2>
							<hr>
							<br>
							{% for event in events %}
								{% if event.isActive == true %}
									<div class="container">
										<img src="{{asset('upload/images/events/'~ event.image)}}" class="img1">

										<br/>
										<div class="butt">
											<a href="{{path('app_eventplus', {'id':event.id})}}">
												<button class="but">En savoir plus</button>
											</a>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
						
						<div id="voyage" class="voyage">
							<h2>VOYAGE</h2>
							<hr>
							<br>
							{% for event in events %}
								{% if event.isActive == true %}
									<div class="container">
										<img src="{{asset('upload/images/events/'~ event.image)}}" class="img1">

										<br/>
										<div class="butt">
											<a href="{{path('app_eventplus', {'id':event.id})}}">
												<button class="but">En savoir plus</button>
											</a>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
						
						<div id="cinema" class="cinema">
							<h2>CINEMA</h2>
							<hr>
							<br>
							{% for event in events %}
								{% if event.isActive == true %}
									<div class="container">
										<img src="{{asset('upload/images/events/'~ event.image)}}" class="img1">

										<br/>
										<div class="butt">
											<a href="{{path('app_eventplus', {'id':event.id})}}">
												<button class="but">En savoir plus</button>
											</a>
										</div>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					<div id="autres" class="autres">
						<h2>AUTRES...</h2>
						<hr>
						<br>
						{% for event in events %}
							{% if event.isActive == true %}
								<div class="container">
									<img src="{{asset('upload/images/events/'~ event.image)}}" class="img1">

									<br/>
									<div class="butt">
										<a href="{{path('app_eventplus', {'id':event.id})}}">
											<button class="but">En savoir plus</button>
										</a>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>

					
				</div>
		</body>
	</html>

{% endblock %}
