{% extends 'base.html.twig' %}

{% block title %}Mon panier!
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/event.css')}}">
	<link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.min.css')}}">
	<link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap-grid.min.css')}}">
	<link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap-grid.css')}}">
	<link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap-reboot.rtl.css')}}">
	<link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap-reboot.css')}}">
	<link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap-reboot.rtl.css')}}">
	<link rel="stylesheet" href="{{asset('bootstrap/css/bootstrap.css')}}">

{% endblock %}
{% block body %}
	<html>
	<div class="d-flex justify-content-center">
		<div class="card w-50 p-5 mt-5 rounded">
			<table class="table">
				<thead class="bg-success text-white-50">
					<tr>
						<th scope="col">Titre</th>
						<th scope="col">lieu</th>
						<th scope="col">Paf</th>
						<th scope="col">Nombre</th>
					</tr>
				</thead>
				
				<tbody>
					{% for event in events %}
					<tr>
						
					<td>{{event.event.libelle}}</td>

					<td>{{event.event.Lieu}}</td>

					<td>{{event.event.Paf}}</td>
					<td>{{event.quantity}}</td>

					</tr>

					{% endfor %}

					
					
				</tbody>
			</table>
		</div>
</div>

	</html>
{% endblock %}
