{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/inscription.css')}}">
{% endblock %}

{% block body %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	{{form_start(form)}}
	<div class="container">
		<div class="card">
			<div class="legend">
				<legend>Inscription</legend>
			</div>
			<div class="card-container">
				<div class="mt-50">
					<div class="w-50 ">
						{{form_widget(form.name, {
                                            'attr' : {
                                                'placeholder':'@votre nom ici',
                                                'class':'form-complet'
                                            } 
                                    })}}
					</div>
				</div>
				<div class="mt-50">
					<div class="w-50 ">
						{{form_widget(form.email, {
                                            'attr' : {
                                                'placeholder':'@votre email',
                                                'class':'form-complet'
                                            } 
                                    })}}
					</div>
				</div>

				<div class="mt-50">
					<div class="w-50 ">
						{{form_widget(form.password, {
                                            'attr' : {
                                                'placeholder':'@votre mot de passe ici',
                                                'class':'form-complet'
                                            } 
                                    })}}
					</div>
				</div>
				<div class="mt-50">
					<div class="w-50 ">
						{{form_widget(form.tel, {
                                            'attr' : {
                                                'placeholder':'@votre telephone',
                                                'class':'form-complet'
                                            } 
                                    })}}
					</div>
				</div>
				<div class="mt-50">
					<div class="w-50 ">
						{{form_widget(form.adress, {
                                            'attr' : {
                                                'placeholder':'@votre adresse',
                                                'class':'form-complet'
                                            } 
                                    })}}
					</div>
				</div>
				<div class="mt-50">
					<div class="w-50 ">
						{{form_widget(form.Enregistrer, {
                                            'attr' : {
                                                'class':'btn-register'
                                            } 
                                    })}}
					</div>
				</div>
				<br/><br/>
			</div>
		</div>
	</div>

	{{form_end(form)}}
{% endblock %}
