{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{asset('css/style.css')}}">
{% endblock %}

{% block body %}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	{{form_start(form)}}
	<div class="card">
		
			<div class="legend">
				<h3>Inscription</legend>
			</div>
		<div class="form">
				<div class="div2">
					<label for="inputEmail">Entrer votre nom:</label>

						{{form_widget(form.name, {
                                            'attr' : {
                                                'class':'form-control'
                                            } 
                                    })}}
					
				</div>
				<div class="div2">
					<label for="inputEmail">Entrer votre adresse email:</label>

						{{form_widget(form.email, {
                                            'attr' : {
                                                'class':'form-control'
                                            } 
                                    })}}
					
				</div>

				<div class="div2">

					<label for="inputEmail">Entrer votre mot de passe:</label>

						{{form_widget(form.password, {
                                            'attr' : {
                                                'class':'form-control'
                                            } 
                                    })}}
					
				</div>
				<div class="div2">
					<label for="inputEmail">Enter votre telephone:</label>

						{{form_widget(form.tel, {
                                            'attr' : {
                	                            'class':'form-control'
                                            } 
                                    })}}
					
				</div>
				<div class="div2">
					<label for="inputEmail"> Enter votre adresse :</label>

						{{form_widget(form.adress, {
                                            'attr' : {
                                                'class':'form-control'
                                            } 
                                    })}}
					
				</div>
			</div>
				<div class="bouton">

						{{form_widget(form.Enregistrer, {
                                            'attr' : {
                                                'class':'btn'
                                            } 
                                    })}}
					
				</div>
				<br/><br/>
			
		
	</div>

	{{form_end(form)}}
{% endblock %}
